* text=auto

# Linguagens
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.gitignore text eol=lf

# Documentação
*.md text diff=markdown

# Vendored code
build/ export-ignore
node_modules/ export-ignore
